html, body {
  height: 100%;
}

body {
  background-color: #f0f2f5;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout {
  padding: '0 100px';
  margin: 'auto' !important; 
  margin-top: 80px !important;
}
.site-layout
 .site-layout-background {
  background: #fff;
  padding: 24px;
  min-height: 380px;
  
}

